/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon-.eot#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    border: 1px solid #BABABA;
    margin: 0 0 60px;
    position: relative;
}
.flex-viewport { -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
#carousel.flexslider {
    border: 0 none;
    padding: 0 30px;
}
#carousel .slides > li img {
    padding: 0 10px 0 10px;
}
#carousel.flexslider li {
    cursor: pointer;
}


#carousel.flexslider .flex-viewport {
    position: relative;
    z-index: 10000000;
}
#slider .flex-direction-nav li:last-child,
#carousel .flex-direction-nav li:last-child {
    float: right;
}
#slider .flex-direction-nav,
#carousel .flex-direction-nav {
    margin: -26px -1px 0;
    top: 50%;
    width: 100.2%;
    z-index: 100000;
}
#slider .flex-direction-nav li a,
#carousel .flex-direction-nav li a {
    background: url("../img/icons/nxt-pre.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 52px;
    width: 52px;
    margin: 0;
}
#carousel .flex-direction-nav li a {
    background: url("../img/icons/gallery-carousel.jpg") no-repeat scroll -10px -50px rgba(0, 0, 0, 0);
    width: 30px;
}
#slider .flex-direction-nav li a.flex-next {
    background-position: 0 -52px;
}
#carousel .flex-direction-nav li a.flex-next {
    background-position: -15px 0;
}
/* Direction Nav */
.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-direction-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -45px;
    right: 0;
}
.flex-direction-nav li {
    float: left;
}
.flex-direction-nav li a {
    background: url("../img/icons/left-arrow-light.png") no-repeat;
    color: transparent;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 10px;
}
.flex-direction-nav li a:hover{
    background: url("../img/icons/left-arrow.png") no-repeat;
}
.flex-direction-nav li a.flex-next {
    background: url("../img/icons/right-arrow-light.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.flex-direction-nav li a.flex-next:hover {
    background: url("../img/icons/right-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/* Localized */